@charset "UTF-8";
/* CSS Document */

.article-content-section {
	width:100%;	
	min-height: 980px;
	float:left;
	background: url(../assets/img/gradient.png) left bottom no-repeat;
}
.article-content-section p{
	margin-left: 82px;
	margin-top:5px;
	width: 85%;
}

.template2_top_title {
	width:100%;
	height:110px;
	background: url(../assets/img/template2_top_blur_background.png) left bottom no-repeat;
}

.template2_top_title h1 {
	margin-top: 25px;
	margin-left: 82px;
	color: #FFF;
	font-size: 4.5em;
	font-weight: 500;
	padding: 5px 0;
	font-family: 'ltbrewery_regularregular', Arial, Helvetica, sans-serif;
	letter-spacing: 2px;
}

.content_sub_navigation p{
	margin-left: 82px;
	margin-top:	20px;
	color:#f6915d;
}

.content_sub_navigation p a{
	color:#f6915d;
}	
.content_sub_navigation p a:hover{
	color:#00245e;
}		

.each_section_in_content{
	width:88%;
	margin-left:82px;
	/*background-color: rgba(113, 164, 147, 0.6);*/
	height:240px;
	border-bottom-style:solid; 
	border-bottom-width:1px;
	border-bottom-color:#f6915d;
	padding-top:30px;
	padding-bottom:30px
}

.each_section_in_content:last-child {
	border-bottom-style:solid; 
	border-bottom-width:0px;
	border-bottom-color:#f6915d;
	margin-bottom:30px;
}

.each_section_in_content .section_image {
	width:20%;	
	float:left;
}
.each_section_in_content .section_image img {
	width:180px;
	height:180px;	
}

.each_section_in_content .section_text{
	margin-left:20px;
	float:left;	
	height:180px;
	width:75%;
}

.each_section_in_content .section_text h3{
	margin-left:5px;
	margin-top: 5px;
	margin-bottom: 10px;
	color: #f6915d;
	font-size: 2.5em;
	font-family: 'ltbrewery_regularregular', Arial, Helvetica, sans-serif;
}
.each_section_in_content .section_text p{
	margin-left:5px;
	color: #000;
	font-size: 1.5em;
	line-height: 1.5em;
	overflow:hidden;
	height:4.5em;
	width: 100%;
	font-family: 'helveticalT_light', 'Helvetical Light', Helvetica,Arial, sans-serif;
}

.each_section_in_content .section_text h4{
	margin-top:20px;	
}

.each_section_in_content .section_text .add_time{
	font-family: 'helveticalT_light', 'Helvetical Neue', Helvetica,Arial, sans-serif;
	font-size: 1.5em;
	color:#666;
	position: relative;
	bottom: 20px;
	left: 80%;
}

/* edited by wei 09/08/2014*/
.content_scroll{
	margin-top:10px;
	width: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	height: 960px;
}

.each_section_in_content.podcast .section_image {
	/*width:320px;
	height: 180px;	*/
	width: 30%;
}
.each_section_in_content.podcast .section_image video {

	max-height: 180px;
	width: 100%;
		
}
.each_section_in_content.podcast .section_image img {
	max-height: 180px;
	width: 100%;
		
}
.each_section_in_content.podcast .section_text{
	width:65%;
}


/*end of update*/


/* edited by randolph 12/8/2014  about news detail page */
.news_detail_content {
	margin-left:82px;
	margin-top:20px;
	width:85%;
}

.news_detail_content img{
	width:23%;
	float:left;
	margin-right:2%;
	margin-bottom:10px;
	
}
.news_detail_content .title_of_news{
	float:right;
	width:75%;
	min-height:100px;
	margin-bottom:10px;
}

.news_detail_content .title_of_news h1{
	color:#f6915d;
	width: auto;
	margin-top:20px;
	padding: 0px;
	float: left;
	font-size:30px;
	font-family: 'ltbrewery_regularregular', Arial, Helvetica, sans-serif;
	line-height:40px;
}
.news_detail_content .title_of_news h3{
	margin-top:15px;
	margin-right:5%;
	margin-bottom:10px;
	float:right;
	font-size:15px;
	color:#999;
	font-family: 'Helvetical Neue', Helvetica,Arial, sans-serif;

}
.news_detail_content p{
	margin-top:10px;
	margin-bottom:20px;
	float:none;
	font-size:18px;
	margin-left:0px;
	width:97%;
	font-family: 'helveticalT_light', 'Helvetical Neue', Helvetica,Arial, sans-serif;
	line-height:1.4em;
}

/* end of news detail page */




