/*
 ::Table Of Content
 1). Header Section
 2.) Navigation
 3.) Slider Section
 4.) Content Section
 5.) Tabbing
 6.) Footer
 7.) Login Tabbing
 -----------------------------------------------*/

/*
 1). Header Section
 ----------------------------------------------*/

.header{
	padding: 30px 0px 23px;
	
}


h5{
		
	font-family: LinotypeBrewery;
	font-size: 46px;
	color: #f6905d;

}


h1{
	/*width: 540px; */
	width:40%;
	padding: 0 72px;
	float: left;
}
h1 a{
	display: block;
}

.signin-portal{
	float: right;
	padding-right: 70px;
	margin-top: 20px;
	margin-right: 32px;
	padding-top:10px;
	padding-bottom: 40px;
	width:45%;
}
.signin-portal h3{
	text-transform: uppercase;
	font-size: 3em;
	font-weight: normal;
	padding: 5px 0;
	font-family: 'ltbrewery_regularregular', Arial, Helvetica, sans-serifa;
	letter-spacing: 4px;
	text-align:right;
}


.signin-portal ul{
	overflow: hidden;
	float: right;
	margin-top:10px;
}
.signin-portal ul li{
	float: left;
	padding: 1px 6px;
}
.signin-portal ul li a{
	font-size: 1.6em;
	text-transform: uppercase;
}
.signin-portal	button#logout {
	color:white;
	font-size: 1.6em;
	text-transform: uppercase; 
	border:none;
	background:none;
	margin:-2px;
	padding:0;
	vertical-align:top;
}

.signin-portal	button#logout:hover{
	color:#00245e;
}

/*
 2). Navigation Section
 ----------------------------------------------*/

.navigation{
	background: #00245d;
}
.navigation ul{
	margin-left: 5%;
}
.navigation li:first-child{
	border-left: solid 1px #ffffff;
}
.navigation li{
	float: left;
	/*background: url(../img/seperator.png) right top no-repeat;*/
	position: relative;
	border-right: solid 1px #ffffff;
	min-width: 140px;
	width: 17%;
	text-align: center;	
}

.navigation li a{
	color: #ffffff;
	font-size: 1.8em;
	font-weight: bold;
	padding: 13px 16px;
	display: block;
	text-decoration:none;
}
.navigation li a:hover, .navigation li.active a{
	background: #f6905d;
}

.navigation ul li > ul{
	display: none;
	margin-left: 0;
	position: absolute;
	left: -1px;
	top:44px;
	min-width: 190px;
}
.navigation ul li:hover ul{
	display: block;
	z-index: 10;
}

.navigation ul li > ul li{
	float: none;
	background: rgba(255, 255, 255, 0.75);
	margin-bottom: 1px;
	border-right: none;
	width: 100%;
}
.navigation ul li > ul li:first-child{
	border-left: none;
}
.navigation ul li > ul li a{
	color: #00245d;
	font-weight: normal;
	display: block;
	padding: 8px 16px;
}

/*
 3). Slider Section
 ----------------------------------------------*/

.bx-pager, .bx-controls-auto, .bx-controls-direction{display: none;}
.slider li{
	position: relative;
}
.slider li .caption{
	position: absolute;
	top: 38%;
	left:85px;
}
.slider li .caption h2{
	font-size: 4.6em;
	color: #ffffff;
	font-weight: normal;
	font-family: 'ltbrewery_lightregular', Arial, Helvetica, sans-serifa;
}
.slider li .caption h2 strong{
	font-size: 155%;
	font-weight: normal;
	position: relative;
	top: -20px;
}
.slider li .caption span{
	display: block;
	float: right;
	text-transform: uppercase;
	font-size: 2.2em;
	color: #ffffff;
	margin-top: -10px;
	letter-spacing: 2px;
	font-family: 'ltbrewery_regularregular', Arial, Helvetica, sans-serifa;
}

/*
 4). Content Section 
 ----------------------------------------------*/

.article-section{
	float: left;
	width: 54%;
	
}


.article-section1{
	float: left;
	width: 100%;
	font-size: 14px;
	
}

.tab-container{
	float: right;
	width:46%;
	
	margin-top: 5px;
}
.content-article{
	padding: 42px 7% 7% 10%;
	background: url(../img/gradient.png) left bottom no-repeat;
	min-height: 499px;
}
.content-article h2, .registration h2{
	color: #f6905d;
	font-size: 4.6em;
	font-weight: normal;
	padding-bottom: 15px;
	font-family: 'ltbrewery_lightbold', Arial, Helvetica, sans-serif;
}

.article-gallery{
	/*margin-top: 73px;*/
	
}
.article-gallery li{
	float: left;
}
/*.article-gallery li img{
	width: 127px;
	height: 130px;
}
.article-gallery li:first-child img{
	width: 129px;
}*/
.article-gallery li.img_container{
	width:20%;
}
.article-gallery li.img_container img{
	max-width:100%;
	height:auto;
}

#wwacp_description p{
	margin-top:5px;
}
#wwacp_description ul{
	margin-top:5px;
	list-style-type:none;
	/*margin-left:15px;*/
	font-size:1.4em;
	line-height:1.4em;
}
/*#wwacp_description ul li{
	margin-top:2px;
}*/

#wwacp_description ul li { 
    padding-left: 2em; 
    text-indent: -.7em;
}

#wwacp_description ul li:before {
    content: "•  ";
    color: #f9615d; /* or whatever color you prefer */
}

/*
 5). Tabbing Section 
 ----------------------------------------------*/
.tab-container ul{
	overflow: hidden;
}
.tab-container li{
	float: left;
	margin-right: 2px;
	width:35%;
}
/*.tab-container li:first-child{
	margin-left: 0;
	width:40%;
}*/
.tab-container li a{
	color: #ffffff;
	font-size: 1.8em;
	text-transform: uppercase;
	display: block;
	border-radius: 8px 8px 0 0;
	position: relative;
	font-family: 'ltbrewery_lightbold', Arial, Helvetica, sans-serif;
}
.tab-container li a:after{
	position: absolute;
	right: 5px;
	top:8px;
	width: 28px;
	height: 28px;
	content: "";
	background: url(../img/tab-aside.png);
}
.tab-container li a.participate{
	background-color: #00245d;
	/*width: 232px;*/
	padding: 14px 35px 13px 10px;
}
.tab-container li a.register{
	background-color: #72a492;
	/*width: 144px;*/
	padding: 14px 35px 10px 25px;
}
.tab-container li a.team{
	background-color: #f6905d;
	/*width: 158px;*/
	padding: 14px 35px 10px 25px;
}
.tab-content{
	width: 100%;
}
.tab-content > div{
	min-height: 581px;
}

.team{
	background-color: #f6905d;
	padding: 30px 35px 1px 35px;
}
.team .row{
	overflow: hidden;
	margin-bottom: 20px;
}
.team img{
	float: left;
	margin-right: 5px;
	width: 25%;
	height: auto;
}
.team p{
	float: right;
	width: 70%; 
	max-height:150px;
	color: #ffffff;
	line-height: 1.1em;
}
.team p a{
	font-size: 100%;
	font-weight: bold;
	color: #fff;
}
.team a:hover{
	color: #71A392;
}

.participate{
	background-color: #00245d;
	padding: 25px 40px 1px 40px;
}
.participate h3, .register h3{
	color: #f6905d;
	font-size: 4.6em;
	padding-bottom: 15px;
	font-family: 'ltbrewery_regularregular', Arial, Helvetica, sans-serifa;

}
.participate p{
	width: 100%;
	color: #ffffff;
	padding-bottom: 20px;
}
.participate a{
	/*font-size: 1.4em;*/
	color: #EFB552;
	display: block;
	padding-bottom: 15px;
}
.participate a:hover{
	color:#f6915d;
}

.register{
	background-color: #72a492;
	padding: 25px 40px 1px 40px;
}
.register h3{
	color: #ffffff;
}
.register p{
	color: #ffffff;
	font-size:1.6em;
}
.register a{
	font-family: 'ltbrewery_lightbold', Arial, Helvetica, sans-serifa;
	font-size:0.8em;
	/*text-transform:uppercase;*/
	color: #EFB552;
}

.register a:hover{
	color:#f6915d;
}

.register form{
	width:440px;
}
.register span{
	font-size: 1.4em;
	color: #ffffff;
	display: block;
	padding-bottom: 15px;
}
.register input{
	width: 100%;
	background: #aac8be;
	border: none;
	margin-bottom: 20px;
	padding: 12px;
	color: #ffffff;
}



/*
 6). Footer Section 
 ----------------------------------------------*/
.footer .page{
	padding-left: 77px;
}
.footer dl{
	float: left;
	margin-right: 70px;
}
.footer dt{
	color: #f6905d;
	font-weight: bold;
	font-size: 1.2em;
	margin-bottom: 3px;
}
.footer dd ul a{
	font-size: 1.2em;
	color: #231f20;
	display: block;
	padding-bottom: 3px;
}

.policy{
	clear: both;
	padding-top: 30px;
	display: block;
}
.policy ul{
	overflow: hidden;
}
.policy li{
	float: left;
	padding: 0 5px;
	border-right: solid 1px #231f20;
}
.policy li:first-child{
	padding-left: 0;
}
.policy li a{
	color: #231f20;
	font-size: 1.1em;
	text-transform: uppercase;

}
.footer li a:hover{
	color: #f6905d;
}


/*
 6). Footer Section 
 ----------------------------------------------*/
.partner_slider {
	width: 200px;	
}


/*
 7). Login Tabbing
 ----------------------------------------------*/
#li_pro{
	background: #00245e;	
}
#li_par{
	background: #f6915d;
}

#li_close{
	height: 40px;
	margin-left: 8px;
	margin-top: -7px;
}

#li_close button{
	background:#f6a828 ;
	height:45px;
	width:45px;	
	margin-top:-3px;
	margin-left:5px;
}

#pro_li {
	width: 260px;
	height:40px;	
	background: #00245e;
}

#pro_li h2{
	text-transform: uppercase;
	color: #fff;
	font-size: 17px;
	font-weight: normal;
	padding: 10px 0;
	font-family: 'ltbrewery_regularregular', Arial, Helvetica, sans-serifa;
	letter-spacing: 4px;
	text-align:center;
}
#par_li {
	width: 260px;
	height:40px;	
	background: #f6915d;
}
#par_li h2{
	text-transform: uppercase;
	color: #fff;
	font-size: 17px;
	font-weight: normal;
	padding: 10px 0;
	font-family: 'ltbrewery_regularregular', Arial, Helvetica, sans-serifa;
	letter-spacing: 4px;
	text-align:center;
}

#fragment-1 {
	background: #00245e;
}

#fragment-2 {
	background: #f6915d;
}


