

/***********Register Page***************/

.register-now{width:85%; padding-bottom: 100px;}
.register-now p span{margin-bottom: 8px; display: block; letter-spacing: 0.3px;}
.register-now p{border-bottom: dotted 1px #f6905d; padding-bottom: 15px; margin-bottom: 30px;}
.registration{
	padding: 30px 50px 42px 80px;
	background: url(../img/gradient-alt.png) left bottom no-repeat;
	min-height: 850px;
}
.registration h2{padding-bottom: 25px;}
.registration-form{
	
}
.registration-form .row{
	overflow: hidden;
	margin-bottom: 22px;
}
.registration-form .column{
	float: left;
	width: 46%;
	margin-right: 8%;
}
.registration-form .column:last-child{
	margin-right: 0;
}
.registration-form label{
	font-size: 1.5em;
	font-weight: bold;
	color: #f6905d;
	text-transform: uppercase;
	display: block;
	margin-left: 8px;
	margin-bottom: 2px;
}
input[type="text"], input[type="email"], .registration-form select, .registration-form textarea{
	border: none;
	background-color: #fde9df;
	border-radius: 6px;
	padding: 8px;
	width: 100%;
	color: #f6905d;
}
.textField {
	border: none;
	background-color: #fde9df;
	border-radius: 6px;
	padding: 8px;
	width: 100%;
	color: #f6905d;
}
.registration-form textarea{
	min-height: 82px;
}
.btn-wrapper{
	margin-top: 46px;
}

.btn-wrapper-inner{position: relative;}
.btn-wrapper-inner:after{
	position: absolute;
	left: 10px;
	top:8px;
	width: 28px;
	height: 28px;
	content: "";
	background: url(../img/tab-aside.png);
}

.sub_nav_content {
	font-size:12px;
	margin-bottom:10px;
}

.sub_nav_content a{
	color:#f6915d;
}
.sub_nav_content a:hover{
	color:#00245e;
}
