@charset "UTF-8";
/* CSS Document */


/*line chart*/
#lineChart .axis path,
#lineChart.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#lineChart .x.axis path {
  display: none;
}

#lineChart .line {
  fill: none;
  stroke: #F77;
  stroke-width: 1.5px;
}

/*bar chart*/

#barChart .axis path,
#barChart .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#barChart .bar {
  fill:  #F77;
}

#barChart .bar:hover {
  fill: orangered ;
}

#barChart .x.axis path {
  display: none;
}

#barChart .d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

		/* Creates a small triangle extender for the tooltip */
#barChart .d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

		/* Style northward tooltips differently */
#barChart .d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

/*progress bar*/

#progressCircle .background {
    fill: #FFFFFF;
    fill-opacity: 0.01;
}

#progressCircle .component {
    fill: #e1e1e1;
}

#progressCircle .component .label {
    font-family: Myriad, "Helvetic Neue", Helvetica, Arial;
    text-anchor: middle;
    fill: #F77;
}

#progressCircle .arc {
    stroke-weight:0.1;
    fill: #F77;
}


#progressCircle .arc2 {
    stroke-weight:0.1;
    fill: #3660b0;
}


#progressCircle .label {
    font-family:  Myriad, "Helvetic Neue", Helvetica, Arial;
    text-anchor: middle;
}

#progressCircle .radial-svg {
    display: block;
    margin: 0 auto;
}


#progressCircle{
    width: 33%;
    height: 200px;
    box-sizing: border-box;
    float: left;
}

/*double bar chart*/

#doubleBarChart .axis path,
#doubleBarChart .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#doubleBarChart .bar {
  fill: steelblue;
}

#doubleBarChart .x.axis path {
  display: none;
}