@charset "UTF-8";
/* CSS Document */

.calendar_section{
/*	margin-top:30px;
	margin-left:80px;
	width:85%;*/
}

#calendar {
/*	width: 900px;
	margin: 40px auto;*/
	font-size: 14px;
}


.appointment_create{
	background-color:#f5f5f5;
	padding:20px;
	margin:0;
	font-family:"Helvetica Light", "Helvetica Neue Light", Arial, sans-serif;
	font-size:16px;
	height:220px;
}

.appointment_create .column-left{
	width:30%;
	line-height:1.5em;
	float:left;
}

.appointment_create .column-right{

	left:40%;
	width:40%;
	padding-left:10px;
	float:left;	
}

.appointment_create .note{
	background-color: rgba(246,145,93,.25) ;
	height:100px;
	width:80%;
}
.appointment_create select,
.appointment_create input[type='text']{
	height:30px;
	background-color: rgba(246,145,93,.25) ;
	width:70%;
}
.appointment_create select{
	width:78%;
}

.appointment_create button{
	height:50px;
	width:300px;
	background:url("images/little_white_flower.png") no-repeat 20px center #f6915d;
	border-radius:7px;
	padding-left:45px;
	color:white;
	font-size:1.2em;
	font-family: 'ltbrewery_regularregular', Arial, Helvetica, sans-serif;
}

.appointment_create button:active{
	position:relative;
	top:1px;
}
.appointment_create button:hover{
	box-shadow:2px 2px 3px #888888;
}
.fc-content {
	clear: none;
}
@media screen and (max-width: 750px) {
	.fc-header-title h2 {
		font-size: 20px;
		white-space: initial;
	}
	.fc-header td {
		white-space: initial;
		display: block;
	}
	.fc-header-center {
		width: 0px;
	}
	.fc-header-left {
		width: auto;
	}
	.fc-button.fc-button-prevYear.fc-state-default.fc-corner-left {
		margin-left: 100px;
	}
	.fc-header-right {
		width: auto;
	}
}