@charset "UTF-8";
/* CSS Document */

.article-content-section h5{
	font-family: 'ltbrewery_regularregular', Arial, Helvetica, sans-serifa;
	margin-top: 20px;
	margin-bottom:30px;
	font-size: 40px;
	color: #f16379;
}

.each_personnel_cell {
/*	width:85%;*/
	height:auto;
	margin-bottom:30px;
	min-height:180px;
}

.each_personnel_cell .personnel_image{
/*	width:20%;	*/
	float:left;
	height:auto;
}

.each_personnel_cell .personnel_image img{
	border:#f16379;
	border-style:solid;
	border-width:1px;
}

.each_personnel_cell .personnel_text{
/*	width:80%;	*/
	float:left;
	height:auto;
}

.each_personnel_cell .personnel_text h3{
	margin-bottom:5px;
	color: #f16379;
	font-weight:bold;
	font-size:15px;
}
.each_personnel_cell .personnel_text p{
	line-height:130%;
	
}
.each_personnel_cell .personnel_text a{
	color: #f16379;
}

.each_personnel_cell .personnel_text a:hover{
	color: #00245e;
}

.our_team h4 {
	font-family: 'ltbrewery_regularregular', Arial, Helvetica, sans-serifa;
	color: #f16379;
	font-size:3.8em;
	margin-top: 20px;
	margin-bottom:30px;
}
.personnel_text h3{
	margin-top: 0px;
}

@media screen and (max-width: 750px) {

	.article-content-section h5{
		font-size: 20px;
	}

	.our_team h4 {
		font-size: 20px;
	}

.each_personnel_cell .personnel_image{
	padding: 0px;
}
.each_personnel_cell .personnel_text{
	padding: 0px;
}
}
