/*
 ::Table Of Content
 1). Header Section
 2.) Navigation
 3.) Slider Section
 4.) Content Section
 5.) Tabbing
 6.) Footer
 -----------------------------------------------*/



/*
 4). Content Section 
 ----------------------------------------------*/

.article-section{
	float: left;
	width: 54%;
	
}
.tab-container{
	float: right;
	width:46%;
	
	margin-top: 5px;
}
.content-article{
	padding: 42px 50px 42px 77px;
	background: url(../img/gradient.png) left bottom no-repeat;
	min-height: 499px;
}
.content-article h2, .registration h2{
	color: #f16379;
	font-size: 4.6em;
	font-weight: normal;
	padding-bottom: 15px;
	font-family: 'ltbrewery_lightbold', Arial, Helvetica, sans-serifa;
}



.button{
	color: #ffffff;
	font-size: 1.8em;
	text-transform: uppercase;
	display: block;
	border: none;
	border-radius: 8px;
	position: relative;
	font-family: 'ltbrewery_lightbold', Arial, Helvetica, sans-serifa;
	background-color: #f16379;
	padding: 12px 18px 12px 45px;
	cursor: pointer;
	letter-spacing: 1px;
	box-shadow: 2px 2px 5px #7f7f7f;
}



/***********Register Page***************/

.register-now{
/*	width: 85%;*/
	margin-top: 5px;
	padding-bottom: 100px;
}
.register-now p span{margin-bottom: 8px; display: block; letter-spacing: 0.3px;}
.register-now p{border-bottom: dotted 1px #f16379; padding-bottom: 15px; margin-bottom: 30px;}
.registration{
/*	padding: 30px 50px 42px 80px;
	background: url(../img/gradient-alt.png) left bottom no-repeat;*/
	min-height: 850px;
}
/*.registration h2{padding-bottom: 25px;}*/

.registration-form{
	
}
.registration-form .row{
	overflow: hidden;
	margin-bottom: 22px;
}
.registration-form .column{
	float: left;
	width: 46%;
	margin-right: 8%;
}
.registration-form .column:last-child{
	margin-right: 0;
}
.registration-form label{
	font-size: 1.5em;
	font-weight: bold;
	color: #f16379;
	text-transform: uppercase;
	display: block;
	margin-left: 8px;
	margin-bottom: 2px;
}
input[type="text"], input[type="email"], .registration-form select, .registration-form textarea{
	border: none;
	background-color: #EDD3D7;
	border-radius: 6px;
	padding: 8px;
	width: 100%;
	color: #f16379;
	height: 27px;
}
.textField {
	border: none;
	background-color: #EDD3D7;
	border-radius: 6px;
	padding: 8px;
	width: 100%;
	color: #f16379;
}
.registration-form textarea{
	min-height: 82px;
}
.btn-wrapper{
	margin-top: 46px;
}

.btn-wrapper-inner{position: relative;}
.btn-wrapper-inner:after{
	position: absolute;
	left: 10px;
	top:8px;
	width: 28px;
	height: 28px;
	content: "";
/*	background: url(../img/tab-aside.png);*/
}

.sub_nav_content {
	font-size:1.4em;
	margin-bottom:30px;
	margin-top: 10px;
	color:#f16379;
}

.sub_nav_content a{
	color:#f16379;
}
.sub_nav_content a:hover{
	color:#00245e;
}
