/*
 ::Table Of Content
 1). @FontFace Rules
 2.) Global Typography
 3.) Basic Skin Styles
 4.) header Section
 5.) Contant Section
 6.) footer Section
 -----------------------------------------------*/
/*
 1). @FontFace Rules
 ----------------------------------------------*/


@font-face {
    font-family: 'ltbrewery_lightbold';
    src: url('../font/linotype_brewery_bold-webfont.eot');
    src: url('../font/linotype_brewery_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/linotype_brewery_bold-webfont.woff') format('woff'),
         url('../font/linotype_brewery_bold-webfont.ttf') format('truetype'),
         url('../font/linotype_brewery_bold-webfont.svg#ltbrewery_lightbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ltbrewery_lightregular';
    src: url('../font/linotype_brewery_light-webfont.eot');
    src: url('../font/linotype_brewery_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/linotype_brewery_light-webfont.woff') format('woff'),
         url('../font/linotype_brewery_light-webfont.ttf') format('truetype'),
         url('../font/linotype_brewery_light-webfont.svg#ltbrewery_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'ltbrewery_regularregular';
    src: url('../font/linotype_brewery_regular-webfont.eot');
    src: url('../font/linotype_brewery_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/linotype_brewery_regular-webfont.woff') format('woff'),
         url('../font/linotype_brewery_regular-webfont.ttf') format('truetype'),
         url('../font/linotype_brewery_regular-webfont.svg#ltbrewery_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face{
	font-family:'helveticalT_bold';
	src: url('../font/HelveticaLTStd-Bold.otf');
}

@font-face{
	font-family:'helveticalT_light';
	src: url('../font/HelveticaLTStd-Light.otf');
}
@font-face{
	font-family:'helveticalT_obl';
	src: url('../font/HHelveticaLTStd-Obl.otf');
}

@font-face {
  font-family: 'VideoJS';
  src: url('../font/vjs.eot');
  src: url('../font/vjs.eot?#iefix') format('embedded-opentype'), 
  url('../font/vjs.woff') format('woff'), 
  url('../font/vjs.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}  

@font-face {
  font-family: 'FontAwesome';
  src: url('../font/fontawesome-webfont.eot?v=3.2.1');
  src: url('../font/fontawesome-webfont.eot?#iefix&v=3.2.1') format('embedded-opentype'), url('../font/fontawesome-webfont.woff?v=3.2.1') format('woff'), url('../font/fontawesome-webfont.ttf?v=3.2.1') format('truetype'), url('../font/fontawesome-webfont.svg#fontawesomeregular?v=3.2.1') format('svg');
  font-weight: normal;
  font-style: normal;
}
 
/*
 2.) Global typography
 -----------------------------*/
a, a:hover, a:focus, input, textarea, select{
	outline: none;
	text-decoration:none;
}
h1, h2, h3, p {
	
}
p {
	color: #231f20;
	font-size: 1.4em;
	line-height: 1.2;
	text-align: justify;
	font-family: Arial, Helvetica, sans-serif;
}
h1 {
	
}
h5{
	
}
h6{
	
}

i {	
	
}
input, textarea {
	
}
textarea {
	overflow: auto;
	resize: none;
}
label {
	
}
input[type=text] {
	
}
input[type=text]:focus{
	
}

input[type=submit] {
	
}
img{max-width: 100%;height: auto}
legend {
	
}
*{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
/*
 3.) Basic Skin Styling
 -----------------------------*/

body {
			font-size: 62.5%;
	font-family: Arial, Helvetica, sans-serifa;
	line-height: 1;		
	/*background: #feeee7 url(../img/bg.jpg) center top repeat-y; */

	background-image: url(../img/bg_pattern.png), -moz-linear-gradient(left, rgba(254,238,231,1) 0%, rgba(244,133,78,1) 40%, rgba(244,133,78,1) 60%, rgba(244,133,78,1) 60%, rgba(254,238,231,1) 100%);
background-image: url(../img/bg_pattern.png), -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(254,238,231,1)), color-stop(40%,rgba(244,133,78,1)), color-stop(60%,rgba(244,133,78,1)), color-stop(60%,rgba(244,133,78,1)), color-stop(100%,rgba(254,238,231,1)));
background-image: url(../img/bg_pattern.png), --webkit-linear-gradient(left, rgba(254,238,231,1) 0%,rgba(244,133,78,1) 40%,rgba(244,133,78,1) 60%,rgba(244,133,78,1) 60%,rgba(254,238,231,1) 100%);
background-image: url(../img/bg_pattern.png), -o-linear-gradient(left, rgba(254,238,231,1) 0%,rgba(244,133,78,1) 40%,rgba(244,133,78,1) 60%,rgba(244,133,78,1) 60%,rgba(254,238,231,1) 100%);
background-image: url(../img/bg_pattern.png), -ms-linear-gradient(left, rgba(254,238,231,1) 0%,rgba(244,133,78,1) 40%,rgba(244,133,78,1) 60%,rgba(244,133,78,1) 60%,rgba(254,238,231,1) 100%);
background-image: url(../img/bg_pattern.png),linear-gradient(to right, rgba(254,238,231,1) 0%,rgba(244,133,78,1) 40%,rgba(244,133,78,1) 60%,rgba(244,133,78,1) 60%,rgba(254,238,231,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feeee7', endColorstr='#feeee7',GradientType=1 );

}
#wrapper, #header {
	width: 100%;
}
.page {
	max-width: 1180px;
	margin: 0px auto;
	position: relative;
	width: 100%;
	background: #ffffff;
}

.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}
.clearfix:before, .clearfix:after {
	content: '.';
	display: block;
	overflow: hidden;
	visibility: hidden;
	font-size: 0;
	line-height: 0;
	width: 0;
	height: 0;
	clear: both;
}
.clearfix {
	zoom: 1;
}

.none{
	border-right: none !important;
}

/*
 4.) Header Styling
 ...........................*/

.navigation li{
	float: left;
	/*background: url(../img/seperator.png) right top no-repeat;*/
	position: relative;
	border-right: solid 1px #ffffff;
	width: 190px;
	text-align: center;	
}

/*
 5.) Contant Section
 .....................................*/




/*
 6.) Footer Styling
 ...........................*/

.footer{
	background: #ffffff;
	padding: 25px 0 160px 0;
}
