@charset "UTF-8";
/* CSS Document */

#header_logo_image {
	content:url("../img/header_normal_logo.png");
	width: auto; /*or your image's width*/
	height: auto; /*or your image's height*/
	margin: 0;
	padding: 0;
}


.header{
	background-color: #FFF;
}

.signin-portal{
	background: url(../img/header_normal-right-logo.png) top right no-repeat;

}

.signin-portal h3{
	color: #f6905d;
}


.signin-portal ul li a{
	color: #00245d;
}
.signin-portal ul li a:hover{
	color: #f6905d;
}

.signin-portal ul li:first-child{
	border-right: solid 2px #000;
}