@charset "UTF-8";
/* CSS Document */

.login_section {
	margin-left:82px;
	margin-top:20px;
	margin-bottom:20px;
	width:85%;
}
.login_section h3 {
	font-family: 'ltbrewery_regularregular', Arial, Helvetica, sans-serifa;
	color:#00245e;
	font-size:4em;
	margin-bottom:50px;
	
}

.label_for_enquire {
	font-size: 1.5em;
	font-weight: bold;
	color: #00245e;
	text-transform: uppercase;
	margin-bottom: 2px;	
}
.login_section input {
	border: none;
	background-color: rgba(0,36,94,.25);
	border-radius: 6px;
	margin-bottom:15px;
	margin-top:2px;
	padding: 8px;
	width: 290px;
	color: #00245e;

}

.login_section input[type=email]{
	box-shadow: none;
	margin-left: 0px;
	padding-left:10px;
	height:40px;
	font-size: 1.4em;
	font-family: Helvetcal, Arial,sans-serif;
}
.login_section input[type=password]{
	margin-left: 0px;
	padding-left:10px;
	height:40px;
	font-size: 1.4em;
	font-family: Helvetcal, Arial,sans-serif;
}
.login_section input[type=submit]{
	height: 56px;
	width: 140px;
	background-image: url("../img/button_log_in.png"); 
	background-color:transparent;
	border: 0; 
	background-repeat: no-repeat;
	display: block;
	cursor:pointer;
}

.login_section input[type=submit]:active {
	position:relative;
	top:1px;
}
.login_section input[type=submit]:hover {
	position:relative;
	top:1px;

}


.login_box {
	border:#00245e;
	border-style:solid;
	border-width:2px;
	border-radius:9px;
	width:370px;
	height:320px;
	padding:20px;
}
.bottom_login_part {
	margin-top:20px;
	margin-left:10px;
	font-size:10px;
}
.bottom_login_part a{
	color:#00245e;
	text-decoration: underline
}
.bottom_login_part a:hover{
	color:#f6915d;
}