@charset "UTF-8";
/* CSS Document */

.article-content-section h5{
	font-family: 'ltbrewery_regularregular', Arial, Helvetica, sans-serifa;
	margin-top: 20px;
	margin-bottom:30px;
	margin-left:82px;
}

.each_personnel_cell {
	width:85%;
	height:auto;
	margin-left:82px;
	margin-bottom:50px;
	min-height:180px;
}

.each_personnel_cell .personnel_image{
	width:20%;	
	float:left;
	height:auto;
}

.each_personnel_cell .personnel_image img{
	border:#00245e;
	border-style:solid;
	border-width:1px;
}

.each_personnel_cell .personnel_text{
	width:80%;	
	float:left;
	height:auto;
}

.each_personnel_cell .personnel_text h3{
	margin-left:30px;
	margin-bottom:5px;
	color: #00245e;
	font-weight:bold;
	font-size:15px;
}
.each_personnel_cell .personnel_text p{
	margin-left:30px;
	line-height:130%;
	
}
.each_personnel_cell .personnel_text a{
	color: #00245e;
}

.each_personnel_cell .personnel_text a:hover{
	color: #f6915d;
}

.our_team h4 {
	font-family: 'ltbrewery_regularregular', Arial, Helvetica, sans-serifa;
	color: #00245e;
	font-size:3.8em;
	margin-top: 20px;
	margin-bottom:30px;
	margin-left:82px;
}
