@charset "UTF-8";
/* CSS Document */

.contact_us_page_content {
	margin-left:82px;
	margin-top:20px;
	width:85%;
	min-height:300px;
	border-bottom-color:#00245e;
	border-bottom-style:solid;
	border-bottom-width:1px;
}

.contact_us_page_content h5 {
	font-family: 'ltbrewery_regularregular', Arial, Helvetica, sans-serifa;
	margin-bottom:20px;
}

.contact_us_page_content h4 {
	font-family: 'ltbrewery_regularregular', Arial, Helvetica, sans-serifa;
	color:#00245e;
	font-size:15px;
}

.contact_us_page_enquire_section {
	margin-left:82px;
	margin-top:20px;
	margin-bottom:20px;
	width:85%;
}
.contact_us_page_enquire_section h3 {
	font-family: 'ltbrewery_regularregular', Arial, Helvetica, sans-serifa;
	color:#00245e;
	font-size:2em;
	margin-bottom:8px;
}

.contact_us_page_enquire_section .label_for_enquire {
	font-size: 1.5em;
	font-weight: bold;
	color: #00245e;
	text-transform: uppercase;
	margin-bottom: 2px;	
}
.contact_us_page_enquire_section input {
	border: none;
	background-color: rgba(0,36,94,.25) ;
	border-radius: 6px;
	margin-bottom:15px;
	margin-top:2px;
	padding: 8px;
	width: 290px;
	color: #00245e;
	font-family:HelvetcalTsd-Lig;
	font-size: 1.5em;

}

.contact_us_page_enquire_section textarea{ 
	border: none;
	background-color: rgba(0,36,94,.25) ;
	border-radius: 6px;
	padding: 8px;
	width: 290px;
	color: #00245e;
	margin-top:2px;
	argin-bottom:20px;
	margin-bottom:30px;
	font-family:HelvetcalTsd-Lig;
	font-size: 1.5em;
	
}
.contact_us_page_enquire_section input[type=email] {
	height: auto;
	font-size: 1.5em;
	color:#00245e;
	margin-left:0px;
	padding-left:8px;
	background-image: none ;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	font-family:HelvetcalTsd-Lig;
	border:none;
	border-bottom:none;
	box-shadow:none;

}