@charset "UTF-8";
/* CSS Document */

.calendar_section{
	width:85%;
	margin-top:30px;
	margin-left:80px;
}

#calendar {
	width: 900px;
	margin: 40px auto;
	font-size: 14px;
}


.appointment_create{
	background-color:#fff;
	border: 2px solid #00245e;
	border-radius: 15px;
	padding:20px 40px 40px 40px;
	font-family:"Helvetica Light", "Helvetica Neue Light", Arial, sans-serif;
	font-size:16px;
	height:220px;
	margin-bottom:60px;
}

.appointment_create .column-left{
	width:40%;
	float:left;
}

.appointment_create .column-right{
	margin-left:10px;
	width:40%;
	float:left;	
}

.appointment_create .note{
	background-color: rgba(0,36,94,.25) ;
	height:100px;
	width:300px;
}
.appointment_create select,
.appointment_create input[type='text']{
	height:30px;
	background-color: rgba(0,36,94,.25) ;
	width:70%;
	margin-bottom:12px;
}
.appointment_create select{
	width:78%;
}

.appointment_create button{
	height:48px;
	width:300px;
	background:url("../img/little_white_flower.png") no-repeat 20px center #00245e;
	border-radius:7px;
	border:none;
	padding-left:45px;
	color:white;
	font-size:1.2em;
	font-family: 'ltbrewery_regularregular', Arial, Helvetica, sans-serif;
}

.appointment_create button:active{
	position:relative;
	top:1px;
}
.appointment_create button:hover{
	box-shadow:2px 2px 3px #888888;
}