/*
 ::Table Of Content
 1). Header Section
 2.) Navigation
 3.) Slider Section
 4.) Content Section
 5.) Tabbing
 6.) Footer
 -----------------------------------------------*/


/*
 4). Content Section 
 ----------------------------------------------*/


.content-article{
	padding: 42px 50px 42px 77px;
	background: url(../img/gradient.png) left bottom no-repeat;
	min-height: 499px;
}
.content-article h2, .registration h2{
	color: #00245e;
	font-size: 4.6em;
	font-weight: normal;
	padding-bottom: 15px;
	font-family: 'ltbrewery_lightbold', Arial, Helvetica, sans-serifa;
}


.button{
	color: #ffffff;
	font-size: 1.8em;
	text-transform: uppercase;
	display: block;
	border: none;
	border-radius: 8px;
	position: relative;
	font-family: 'ltbrewery_lightbold', Arial, Helvetica, sans-serif;
	background-color: #00245e;
	padding: 12px 18px 12px 45px;
	cursor: pointer;
	letter-spacing: 1px;
	box-shadow: 2px 2px 5px #7f7f7f;
}




/***********Register Page***************/

.register-now{width:85%; padding-bottom: 100px;}
.register-now p span{margin-bottom: 8px; display: block; letter-spacing: 0.3px;}
.register-now p{border-bottom: dotted 1px #00245e; padding-bottom: 15px; margin-bottom: 30px;}
.registration{
	padding: 30px 50px 42px 80px;
	background: url(../img/gradient-alt.png) left bottom no-repeat;
	min-height: 850px;
}
.registration h2{padding-bottom: 25px;}
.registration-form{
	
}
.registration-form .row{
	overflow: hidden;
	margin-bottom: 22px;
}
.registration-form .column{
	float: left;
	width: 46%;
	margin-right: 8%;
}
.registration-form .column:last-child{
	margin-right: 0;
}
.registration-form label{
	font-size: 1.5em;
	font-weight: bold;
	color: #00245e;
	text-transform: uppercase;
	display: block;
	margin-left: 8px;
	margin-bottom: 2px;
}
input[type="text"], input[type="email"], .registration-form select, .registration-form textarea{
	border: none;
	background-color: rgba(0,36,94,.25) ;
	border-radius: 6px;
	padding: 8px;
	width: 100%;
	color: #00245e;
}
.textField {
	border: none;
	background-color: rgba(0,36,94,.25) ;
	border-radius: 6px;
	padding: 8px;
	width: 100%;
	color: #00245e;
}
.registration-form textarea{
	min-height: 82px;
}
.btn-wrapper{
	margin-top: 46px;
}

.btn-wrapper-inner{position: relative;}
.btn-wrapper-inner:after{
	position: absolute;
	left: 10px;
	top:8px;
	width: 28px;
	height: 28px;
	content: "";
	background: url(../img/tab-aside.png);
}

.sub_nav_content{
	margin-bottom:30px;
}
.sub_nav_content a{
	font-size:1.4em;
	
	color:#00245e;
}
.sub_nav_content a:hover{
	color:#f6915d;
}

button.regist {
	height:48px;
	width:220px;
	background:url("../img/little_white_flower.png") no-repeat 10px center #00245e;
	border-radius:7px;
	border:none;
	padding-left:45px;
	color:white;
	font-size:1.6em;
	font-family: 'ltbrewery_lightbold', Arial, Helvetica, sans-serif;
	text-transform:uppercase;
}

button.regist:active{
	position:relative;
	top:1px;
}
button.regist:hover{
	box-shadow:2px 2px 3px #888888;
}
button[disabled].regist{
	background-color:#ccc;
}
button[disabled].regist:active{top:0}
button[disabled].regist:hover{	box-shadow:none;}
