@charset "UTF-8";
/* CSS Document */

.article-content-section {
/*	width:82%;	*/
	min-height: 980px;
	float:left;
}

.article-content-right-nav {
	width :18%;	
	min-height: 499px;
	float:right;
}
/*.conent-middle-section {
	background: url(../img/gradient.png) left bottom no-repeat;
}
*/
.right-side-quote {
	width:100%;
	float : left;
}

.right-side-img {
	float:right;
	margin-top: -1px;
	width:100%;
}

.right-side-buttons {
	margin-top:0px;
}

.content_sub_navigation p{
	margin-top:	10px;
	color:#f16379;
}

.content_sub_navigation p a{
	color:#f16379;
}	
.content_sub_navigation p a:hover{
	color:#00245e;
}	

