@charset "UTF-8";
/* CSS Document */

.article-content-section {
	width:100%;	
	min-height: 980px;
	float:left;
	/*background: url(../img/gradient.png) left bottom no-repeat;*/
}
.article-content-section p{
/*	margin-left: 82px;
	margin-top:5px;
	width: 85%;*/
}

.template2_top_title {
	width:100%;
	background-color: #f16379;
/*	height:110px;*/
	/*background: url(../img/template2_top_blur_background.png) left bottom no-repeat;*/
}

.template2_top_title h1 {
/*	margin-top: 25px;
	margin-left: 82px;*/
	color: #FFF;
	font-size: 4.5em;
	font-weight: 500;
	font-family: 'ltbrewery_regularregular', Arial, Helvetica, sans-serif;
	letter-spacing: 2px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.content_sub_navigation p{
/*	margin-left: 82px;
*/	margin-top:	10px;
	color:#f16379;
}

.content_sub_navigation p a{
	color:#f16379;
}	
.content_sub_navigation p a:hover{
	color:#00245e;
}		

.each_section_in_content{
/*	width:88%;
	margin-left:82px;*/
	/*background-color: rgba(113, 164, 147, 0.6);*/
	min-height: 240px;
	border-bottom-style:solid; 
	border-bottom-width:1px;
	border-bottom-color:#f16379;
	padding-top:30px;
	padding-bottom:30px
}

.each_section_in_content:last-child {
	border-bottom-style:solid; 
	border-bottom-width:0px;
	border-bottom-color:#f16379;
	margin-bottom:30px;
}

.each_section_in_content .section_image {
/*	width:20%;	*/
	float:left;
}
.each_section_in_content .section_image img {
	width:180px;
	height:180px;	
}

.each_section_in_content .section_text{
/*	margin-left:20px;*/
	float:left;	
/*	height:180px;*/
/*	width:75%;*/
}

.each_section_in_content .section_text h3{
	margin-left:5px;
	margin-top: 5px;
	margin-bottom: 10px;
	color: #f16379;
	font-size: 2.5em;
	font-family: 'ltbrewery_regularregular', Arial, Helvetica, sans-serif;
}
.each_section_in_content .section_text p{
	margin-left:5px;
	color: #000;
	font-size: 1.5em;
	line-height: 1.5em;
	overflow:hidden;
	max-height:4.5em;
	width: 100%;
	font-family: 'helveticalT_light', 'Helvetical Light', Helvetica,Arial, sans-serif;
}

.each_section_in_content .section_text h4{
	margin-top:20px;	
}

.each_section_in_content .section_text .add_time{
	font-family: 'helveticalT_light', 'Helvetical Neue', Helvetica,Arial, sans-serif;
	font-size: 1.5em;
	color:#666;
/*	position: relative;*/
	bottom: 20px;
	left: 80%;
}

/* edited by wei 09/08/2014*/
.content_scroll{
	margin-top:10px;
	width: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	height: 960px;
}

.each_section_in_content.podcast .section_image {
	/*width:320px;
	height: 180px;	*/
/*	width: 30%;*/
	margin-top: 20px;
}
.each_section_in_content.podcast .section_image video {

	max-height: 180px;
	width: 100%;
		
}
.each_section_in_content.podcast .section_image img {
	max-height: 180px;
	width: 100%;
		
}
.each_section_in_content.podcast .section_text{
/*	width:65%;*/
}


/*end of update*/


/* edited by randolph 12/8/2014  about news detail page */
.news_detail_content {
	margin-left:82px;
	margin-top:20px;
	width:85%;
	text-align:justify;
	font-family: 'Helvetical Neue', Helvetica, Arial, sans-serif;
	padding:0;
}

.news_detail_content img{
	width:25%;
	float:left;
	padding:10px;
	
}
.news_detail_content .title_of_news{
	float:left;
	width:75%;
	min-height:100px;
	margin-bottom:10px;
	display:block;

}

.news_detail_content .title_of_news h1{
	color:#f16379;
	width: auto;
	margin-top:20px;
	padding: 0px;
	float: left;
	font-size:30px;
	font-family: 'ltbrewery_regularregular', Arial, Helvetica, sans-serif;
	line-height:40px;
}
.news_detail_content .title_of_news h3{
	float:right;
	font-size:15px;
	color:#999;
	font-weight:normal;
	font-family: 'helveticalT_light', 'Helvetical Neue', Helvetica, Arial, sans-serif;

}
.news_detail_content #content_of_news{
	margin-top:10px;
	margin-bottom:20px;
	margin-left:0px;
	width:auto;
	float:none;
	font-size:16px;
	
	font-family: 'helveticalT_light', 'Helvetical Neue', Helvetica, Arial, sans-serif;
	line-height:1.4em;
}
.news_detail_content ul{
	list-style:disc inside;

}
.news_detail_content ol{
	list-style:decimal inside;

}

.news_detail_content h1, h2{
	padding-top:10px;
	margin:0;
	font-size: 1.2em;
	font-family:"Helvetica", Arial, sans-serif;
	font-weight:bold;
	line-height:1.5em;
}

.news_detail_content h3{
	font-family:"Helvetica", Arial, sans-serif;
	margin-top:10px;
	font-size: 1.1em;
	font-weight:bold;
}
.news_detail_content h4{
	margin-top:10px;
	font-size: 1em;
	font-weight:bold;
	font-style:italic;
}
.news_detail_content blockquote{
	padding:1.5em 2.5em;
}

/* end of news detail page */

@media screen and (max-width: 750px) {

	.template2_top_title h1 {
		font-size: 25px;
	}
	.content_sub_navigation p {
		font-size: 10px;
	}
	.each_section_in_content .section_text h3 {
		font-size: 13px;
	}
	.article-content-section p {
		font-size: 12px;
	}
	.each_section_in_content.podcast .section_image  {
		margin-top: 0px;
	}
	.each_section_in_content .section_text p {
		font-size: 11px;
	}
	.each_section_in_content .section_text .add_time {
		font-size: 11px;
	}
}


