@charset "UTF-8";
/* CSS Document */

#header_logo_image {
	content:url("../img/header_parti_logo.png");
	width: auto; /*or your image's width*/
	height: auto; /*or your image's height*/
	margin: 0;
	padding: 0;
}


.header{
	background-color: #FFF;
	border-color:#FFF;
	border-bottom-style: solid;
	border-width: 1px;
}

.signin-portal{
	background: url(../img/header_parti_right_logo.png) top right no-repeat;

}

.signin-portal h3{
	color: #f16379;
}

.signin-portal ul li a{
	color: #00245e;
}
.signin-portal ul li a:hover{
	color: #f16379;
}

.signin-portal ul li:first-child{
	border-right: solid 2px #00245e;
}