@charset "UTF-8";
/* CSS Document */

.contact_us_page_content {
	margin-top:20px;
	min-height:300px;
	border-bottom-color:#f16379;
	border-bottom-style:solid;
	border-bottom-width:1px;
}

.contact_us_page_content h5 {
	font-family: 'ltbrewery_regularregular', Arial, Helvetica, sans-serifa;
	margin-bottom:20px;
}

.contact_us_page_content h4 {
	font-family: 'ltbrewery_regularregular', Arial, Helvetica, sans-serifa;
	color:#f16379;
	font-size:15px;
}

.contact_us_page_enquire_section {
	margin-top:20px;
	margin-bottom:20px;
}
.contact_us_page_enquire_section h3 {
	font-family: 'ltbrewery_regularregular', Arial, Helvetica, sans-serifa;
	color:#f16379;
	font-size:2em;
	margin-bottom:8px;
}

.contact_us_page_enquire_section .label_for_enquire {
	font-size: 1.5em;
	font-weight: bold;
	color: #f16379;
	text-transform: uppercase;
	margin-bottom: 2px;	
}
.contact_us_page_enquire_section input {
	border: none;
	background-color: #EDD3D7;
	border-radius: 6px;
	margin-bottom:15px;
	margin-top:2px;
	padding: 8px;
	width: 290px;
	color: #f16379;

}

.contact_us_page_enquire_section textarea{ 
	border: none;
	background-color: #EDD3D7;
	border-radius: 6px;
	padding: 8px;
	width: 290px;
	color: #f16379;
	margin-top:2px;
	argin-bottom:20px;
	margin-bottom:30px;
	
}

.contact_us_page_enquire_section input[type=email] {
	height: auto;
	font-size: 1.5em;
	color:#f16379;
	margin-left:0px;
	padding-left:8px;
	background-image: none ;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	font-family:HelvetcalTsd-Lig;
	border:none;
	border-bottom:none;
	box-shadow:none;

}
@media screen and (max-width: 750px) {
	.contact_us_page_enquire_section input {
		width: 230px;
	}
	.contact_us_page_enquire_section textarea {
		width: 230px;
	}
}