@charset "UTF-8";
/* CSS Document */
#discussion_board_description {
	font-size: 15px;
/*	width:85%;	*/
}

.discussion_board_section {
/*	margin-left:82px;*/
	/*background:#FFC;*/
/*	width:85%;*/
	min-height:500px;
	margin-top: 30px;
}

/*CSS for the list of threads*/
.thread_section {
/*	width: 100%;
	padding: 5px;*/
}
.thread_row {
	height: 55px;
	border-bottom:1px solid #f16379;
	font-size: 1.6em;
	font-family: 'helveticalT_light', Helvetica, Arial, sans-serif;
	padding: 5px 0px;
	vertical-align: middle;
}
.thread_row.thread_header{
	background-color: #f16379;
	height: 55px;
	color: white;
	font-family: 'ltbrewery_regularregular', Helvetica, Arial, sans-serifa;
	font-size: 1.8em;
	text-transform: uppercase;
	
}
.thread_row > .icon{
	width: 10%;
	max-width: 40px;
	max-height: 40px;
	float: left;
	margin-left:10px;
}
.thread_row	> .thread{
	width: 52%;
	float: left;
	padding: 15px 15px;
}

.thread_row	> .thread.title{
	height: 35px;
	line-height: 1.4em;
	overflow:hidden;
	font-family: 'helveticalT_light', Helvetica, Arial, sans-serif;
	/*color:#f6915d;
	font-family:'helveticalT_bold',Helvetica, Arial, sans-serif;*/
}
.thread_row	> .thread a{
	color:#f16379;
	font-size: 1.1em;
}
.thread_row	> .thread a:hover{
	/*color:#f6915d;*/
	height: 35px;
	font-family:'helveticalT_bold',Helvetica, Arial, sans-serif;
	overflow:hidden;
}

.thread_row > .posts{
	width: 8%;
	float: left;
	padding: 15px 5px;

	text-align: center;
}
.thread_row > .update{
	width: 30%;
	float: right;
	padding: 15px 5px;
	
	text-align: center;

}

/*end thread list css*/

.create_new_thread_section {
	width:600px;
	height:560px;	
	background:#fff;
	border-color:#f16379;
	border-style:solid;
	border-width:4px;
}

.new_thread_header {
	background-color:#f16379;	
	height:45px;
	width:100%;
}
.new_thread_apply label {
	font-size: 2.5em;
	color: #f16379;
	text-transform: uppercase;
	display: block;
	margin-left: 8px;
	margin-bottom: 5px;
	margin-top:10px;
}

.new_thread_apply {
	padding:30px;	
}

.new_thread_apply textarea {
	border: none;
	background-color: #EDD3D7;
	border-radius: 6px;
	padding: 8px;
	width: 100%;
	color: #f16379;
	font-size:18px;
	margin-bottom:10px;
	font-family: 'helveticalT_light', Helvetica, Arial, sans-serif;

	
}
.new_thread_apply input[type="text"]{
	border: none;
	background-color: #fde9df;
	border-radius: 6px;
	padding: 8px;
	width: 100%;
	color: #f6905d;
	height:30px;
	font-size:18px;
	font-family: 'helveticalT_light', Helvetica, Arial, sans-serif;
}
.thread_header_image {
	width:37px;
	float:left;
	margin-left:15px;
	margin-right:15px;
}
.thread_header_content{
	float:left;
	width: 270px;
}

.thread_header_content h1{
	margin-top:10px;
	color:#fff;
	width: 100%;
	padding: 0px;
	font-size:20px;
	font-family: 'ltbrewery_regularregular', Arial, Helvetica, sans-serifa;
}

#close_button_pop_out {
	float:right;
	height:27px;
	margin-right:8px;
	margin-top:6px;
}



/**=======pagination CSS ==============*/
.pagination_section{
	padding:10px;
	font-family: Helvetica,Arial,sans-serif;
	font-size:14px;
	text-align:right;
}


/**
* CSS themes for simplePagination.js
* Author: Flavius Matis - http://flaviusmatis.github.com/
* URL: https://github.com/flaviusmatis/simplePagination.js
*/

ul.simple-pagination {
	list-style: none;
}

.simple-pagination {
	display: block;
	overflow: hidden;
	padding: 0 5px 5px 0;
	margin: 0;
}

.simple-pagination ul {
	background:#EDD3D7;
	list-style: none;
	padding: 5px 10px;
	margin: 0;
	float:right;
}

.simple-pagination li {
	list-style: none;
	padding: 0;
	margin: 0;
	float: left;
}

.light-theme a, .light-theme span {
	float: left;
	color: #666;
	font-size:14px;
	line-height:24px;
	font-weight: normal;
	text-align: center;
	border: 1px solid #BBB;
	min-width: 14px;
	padding: 0 7px;
	margin: 0 5px 0 0;
	border-radius: 3px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	background: #efefef; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #efefef 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#efefef)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#efefef 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#efefef 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#efefef 100%); /* IE10+ */
	background: linear-gradient(top, #ffffff 0%,#efefef 100%); /* W3C */
}

.light-theme a:hover {
	text-decoration: none;
	background: #FCFCFC;
}

.light-theme .current {
	background: rgba(241,99,121,0.6);
	color: #FFF;
	border-color: rgba(241,99,121,1.0);
	box-shadow: 0 1px 0 rgba(255,255,255,1), 0 0 2px rgba(0, 0, 0, 0.3) inset;
	cursor: default;
}

.light-theme .ellipse {
	background: none;
	border: none;
	border-radius: 0;
	box-shadow: none;
	font-weight: bold;
	cursor: default;
}



/*=============== CSS for thread details ===================/


/*thread title line*/
/*.thread_title{
	min-height: 50px;
	font-family: 'ltbrewery_regularregular', Arial, Helvetica, sans-serif;
	font-size:30px;
	color:#00245e;
	width:auto;
	margin: 10px;
}*/

.messages{
	min-height:200px;
	width:100%;
	padding:0;
}

.message{
	border-radius: 8px;
	font-family: Helvetica, Arial, sans-serif;
	padding:10px;
	margin-bottom: 10px;
	background:rgba(246,145,94,.06);
	box-shadow: 0 1px 0 rgba(255,255,255,0.8), 0 0 2px rgba(0, 0, 0, 0.3) inset;

}

.thread_topic{
	min-height: 35px;
	padding-top:10px;
	font-family:'helveticalT_bold', Helvetica, Arial, sans-serif;
	/*font-family: 'ltbrewery_regularregular', Arial, Helvetica, sans-serif;*/
	font-size:25px;
	/*color:#f6915d;*/
	width:auto;
	margin: 10px;
	text-transform:none;
}


.message div#content{
	font-size: 18px;
	line-height: 1.6em;	
	margin:10px;
}
.message div#time, 
.message div#author{
	font-size: 14px;
	text-align: right;
	color: #666;
	padding: 5px 20px;
}

.message div#author img{

	width:30px;
	padding-left:10px;
	vertical-align:middle;
}

/*post message button*/
#post_message_button{
	
	height:50px;
	width:250px;
	background:url("../../images/little_white_flower.png") no-repeat 20px center #f16379;
	border-radius:10px;
	padding-left:45px;
	color:white;
	font-size:1.8em;
	font-family: 'ltbrewery_regularregular', Arial, Helvetica, sans-serif;
}

#post_message_button:active{
	position:relative;
	top:1px;
}
#post_message_button:hover{
	box-shadow:2px 2px 3px #888888;
}

.answer_section{
	padding:10px;
	width:auto;
	margin:20px 0;
}
.answer_section h2{
	padding-left:10px;
	font-size:1.8em;
	font-family: 'ltbrewery_regularregular', Arial, Helvetica, sans-serif;
	color:#f16379;
}

#message_text{
	width:80%;
	height:150px;
	border-color:rgba(246,145,94,.5);
	border-radius: 8px;
	font-family:'helveticalT_light', "Helvetica Light", "Helvetica Neue Light", Helvetica, Arial, sans-serif;
	font-size:1.6em;
	padding:15px;
	margin:10px 0;
}
@media screen and (max-width: 750px) {
    .thread_row > .icon {
    	width: 25px;
    	margin-top: 10px;
    }
    .thread_row > .thread {
    	width: 35%;
    	font-size: 15px;
    }
    .thread_row > .posts {
    	width: 10%;
    	font-size: 15px;
    }
    .thread_row > .update {
    	font-size: 15px;
    }
    .thread_header_content {
    	width: auto;
    }
    .create_new_thread_section {
    	width: 98%;
    }
    .thread_header_content h1 {
    	font-size: 17px;
    }
    .template2_top_title h1 {
    	font-size: 25px;
    }
    .thread_topic {
    	font-size: 18px;
    }
    .message div#content {
    	font-size: 14px;
    }
    #message_text {
    	width: 100%
    }
    .discussion_board_section {
    	margin-top: 40px;
    }
}


