@charset "UTF-8";
/* CSS Document */

/***********Register Page***************/

.account-now{
	/*width:85%; */
	padding-bottom: 100px;}
.account-now p span{margin-bottom: 8px; display: block; letter-spacing: 0.3px;}
.account-now p{border-bottom: dotted 1px #f16379; 
	margin-bottom: 30px;
}
.account{
/*	padding: 30px 50px 42px 80px;
	background: url(../img/gradient-alt.png) left bottom no-repeat;*/
	min-height: 850px;
	margin-top: 20px;
}
.account h2{
	padding-bottom: 25px;
	font-family: 'ltbrewery_regularregular', Arial, Helvetica, sans-serifa;
	font-size: 46px;
	color: #f16379;
	margin-top:20px;
	
}
.account-form{
	
}
.account-form .row{
	overflow: hidden;
	margin-bottom: 22px;
}
.account-form .column{
	float: left;
	width: 46%;
	margin-right: 8%;
}
.account-form .column:last-child{
	margin-right: 0;
}
.account-form label{
	font-size: 1.5em;
	font-weight: bold;
	color: #f16379;
	text-transform: uppercase;
	display: block;
	margin-left: 8px;
	margin-bottom: 2px;
}
input[type="text"], input[type="email"], .account-form select, .account-form textarea{
	border: none;
	background-color: #EDD3D7;
	border-radius: 6px;
	padding: 8px;
	width: 100%;
	color: #f16379;
}
.textField {
	border: none;
	background-color: #EDD3D7;
	border-radius: 6px;
	padding: 8px;
	width: 100%;
	color: #f16379;
}
.account-form textarea{
	min-height: 82px;
}


.sub_nav_content {
	font-size:12px;
	margin-bottom:10px;
	color:#f16379;
}

.sub_nav_content a{
	color:#f16379;
}
.sub_nav_content a:hover{
	color:#00245e;
}

.update_button_section {
	margin-top:30px;
}
#account_update_button{
	height:50px;
	width:230px;
	background:url("../../images/little_white_flower.png") no-repeat 20px center #f16379;
	border-radius:7px;
	padding-left:45px;
	color:white;
	font-size:1.8em;
	font-family: 'ltbrewery_regularregular', Arial, Helvetica, sans-serif;
}

#account_update_button:active{
	position:relative;
	top:1px;
}
#account_update_button:hover{
	box-shadow:2px 2px 3px #888888;
}

.password-form{
	margin-top:20px;

}
.password-form label:first-child{
	margin-top:20px;
}

.password-form input[type="password"]{
border: none;
background-color: #EDD3D7;
border-radius: 6px;
padding: 8px;
color: #f16379;
margin-bottom:15px;
}