@charset "UTF-8";
/* CSS Document */


.privacy_content h5{
	font-family: 'ltbrewery_regularregular', Arial, Helvetica, sans-serifa;
	margin-top: 20px;
	margin-bottom:30px;
	font-size: 40px;
	color: #F16379;

}
.privacy_content h3{
	margin-top: 30px;
	margin-bottom:10px;
	color: #f16379;
	font-size:20px;

}
.privacy_content h2{
	margin-top:3px;
	color: #f05134;
	font-size:18px;
}
.privacy_content p{
	margin-top: 3px;
	margin-bottom:30px;
	font-size:18px;
}
.privacy_content p:last-child{
	margin-top: 3px;
	margin-bottom:90px;
}

.privacy_content ul {
	font-size:18px;
	list-style-image: url('../img/bullet_orange_2.png');
}
.privacy_content ul li:last-child {
	font-size:18px;
	list-style-image: none;
}

.privacy_content ul li{
	margin-left:18px;
	margin-top:5px;
}
.privacy_content ul li li {
	list-style-image: url('../img/bullet_orange_1.png');
	margin-left:28px;
	margin-top:5px;
}
.privacy_content ul li li:last-child {
	list-style-image: url('../img/bullet_orange_1.png');
	margin-bottom:20px;
}

@media screen and (max-width: 750px) {
	.privacy_content h5{
		font-size:25px;
	}
	.privacy_content h3{
		font-size:15px;
	}
	.privacy_content h2{
		font-size:15px;
	}
	.privacy_content p{
		font-size:15px;
	}
	.privacy_content ul {
		font-size: 15px;
	}
	.privacy_content ul li li:last-child {
		font-size: 15px;
	}
}