body {
  padding-top: 60px;
  padding-bottom: 40px;
  background: url('../img/bg.png');	
  font-size: 14px;
}
.sidebar-nav {
  padding: 9px 0;
}

.sidebar-nav .nav-header{
	color: #00245e;
	font-size: 100%;
}

.navbar-inner {
	padding-left: 20px;
	padding-right: 20px;
	background-color: #f16379;
	background-image: -moz-linear-gradient(top, #ff2379, #f16379);
	background-image: -ms-linear-gradient(top, #ff2379, #f16379);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ff2379), to(#f16379));
	background-image: -webkit-linear-gradient(top, #ff2379, #f16379);
	background-image: -o-linear-gradient(top, #ff2379, #f16379);
	background-image: linear-gradient(top, #ff2379, #f16379);
	background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'ff2379, endColorstr='#'f16379, GradientType=0);
	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}
.navbar .brand {
  float: left;
  display: block;
  padding: 8px 20px 12px;
  margin-left: -20px;
  font-size: 20px;
  font-weight: 200;
  line-height: 1;
  color: #ffffff;
}
.navbar .nav > li > a {
  float: none;
  padding: 10px 10px 11px;
  line-height: 19px;
  font-size: 13px;
  color: #d3d3d3;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.navbar .nav > li > a:hover {
  background-color: transparent;
  color: #ffffff !important;
  text-decoration: none;
}
.navbar .nav .active > a, .navbar .nav .active > a:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #222222;
  background-color: rgba(0, 0, 0, 0.5);
}
.navbar .divider-vertical {
  height: 40px;
  width: 1px;
  margin: 0 9px;
  overflow: hidden;
  background-color: #00260e;
  border-right: 1px solid #134024;
}
.dropdown-menu li > a:hover,
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #f16379;
}

a {
	color: rgba(0,36,94,0.8);
}
a:hover {
  color: #f16379;
}
.nav-list > .active > a,
.nav-list > .active > a:hover {
  background-color: #f16379;
}
.nav-pills > .active > a,
.nav-pills > .active > a:hover {
  background-color: #f16379;
}
.dropdown-menu .nav-header {
  display: block;
  padding: 3px 15px;
  font-size: 11px;
  font-weight: bold;
  line-height: 18px;
  color: #999;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
}
span.user-actions, td div.btn-group {
  visibility: hidden;
}
table {
  background-color: #fdfdfd;
}
tr.pending-user:hover span.user-actions, tr.list-users:hover td div.btn-group, tr.list-roles:hover td div.btn-group {
  visibility:visible;
}
.btn-success{
	background: #145bc7;
  background-image: -webkit-linear-gradient(top, #145bc7, #04388a);
  background-image: -moz-linear-gradient(top, #145bc7, #04388a);
  background-image: -ms-linear-gradient(top, #145bc7, #04388a);
  background-image: -o-linear-gradient(top, #145bc7, #04388a);
  background-image: linear-gradient(to bottom, #145bc7, #04388a);
}
.btn-success:hover{
	background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
}
.well{
	border-radius:0;
	border-bottom:none;

background: linear-gradient(to bottom, rgba(245,245,245,1) 0%,rgba(252,252,252,0) 100%);
}
/*
 * Responsive table
 */
/*@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px)  {*/
@media only screen and (max-width: 640px) {
	.table th, .table td {
	  padding-left: 50%;
	  border-top:0;
	}
	table, thead, tbody, th, td, tr {
	  display: block;
	}
	thead tr {
	  position: absolute;
	  top: -9999px;
	  left: -9999px;
	}
	tr { 
	  border: 1px solid #ccc; 
	}
	td {
	  border: none;
	  border-bottom: 1px solid #eee;
	  position: relative;
	  padding-left: 50%;
	}
	td:before {
	  position: absolute;
	  top: 6px;
	  left: 6px;
	  width: 45%;
	  padding-right: 10px;
	  white-space: nowrap;
	}
	.list-users td:nth-of-type(1):before, .pending-user td:nth-of-type(1):before { content: "ID"; }
	.list-users td:nth-of-type(2):before, .pending-user td:nth-of-type(2):before { content: "Name"; }
	.list-users td:nth-of-type(3):before, .pending-user td:nth-of-type(3):before { content: "E-mail"; }
	.list-users td:nth-of-type(4):before, .pending-user td:nth-of-type(4):before { content: "Phone"; }
	.list-users td:nth-of-type(5):before, .pending-user td:nth-of-type(5):before { content: "City"; }
	.list-users td:nth-of-type(6):before, .pending-user td:nth-of-type(6):before { content: "Role"; }
	.list-users td:nth-of-type(7):before, .pending-user td:nth-of-type(7):before { content: "Status"; }
	.list-users td:nth-of-type(8):before, .pending-user td:nth-of-type(8):before { content: "Actions"; }
	.list-roles td:nth-of-type(1):before { content: "ID"; }
	.list-roles td:nth-of-type(2):before { content: "Role"; }
	.list-roles td:nth-of-type(3):before { content: "Description"; }
	.list-roles td:nth-of-type(4):before { content: "Slug"; }
	.list-roles td:nth-of-type(5):before { content: "Actions"; }
}